body {
  margin: 0;
  background-color: #FAEEEA;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color:black
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 2px solid black;
  position: relative;
  z-index: 2; 
}

.logo {
  display: flex;
  order: -1;
  height: 40px;
  margin-left: 20px;
  align-items: center;
  padding-left: 0;
  padding-right: 20px;
}

.logo-img {
  height: 60px;
  width: 60px;
}

.logo-img:hover {
  transition-duration: 0.2s;
  filter: brightness(95%);
  cursor: pointer;
}

.brand {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
  width: 100%;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
}

.contact {
  display: flex;
  width: 150px;
  height: 40px;
  padding-left: 6px;
  margin-right: 20px;
  align-items: center;
  font-size: 18px;
  text-decoration: none;
  letter-spacing: 0px;
  background-color: #0f4392;
  font-family: 'Roboto', sans-serif;
}

.contact a {
  color: black;
  text-decoration: none;
}

.menu {
  display: flex;
  height: 40px;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 150px;
  justify-content: center;
  position: relative;
  font-size: 18px;
  align-items: center;
  letter-spacing: 0px;
  background-color: #ff4949;
  z-index: 3; 
  font-family: 'Roboto', sans-serif;
}

.uni {
  font-size: 14px;
  transition: transform 0.3s ease;
}

.uni.rotate {
  transform: rotate(180deg);
}

.menu:hover {
  cursor: pointer;
}

.menu-icon:hover {
  transition-duration: 0.2s;
  filter: opacity(65%);
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: -1px;
  background-color: white;
  border: 1px solid black;
  width: 119px;
  justify-content: center;
  z-index: 4; 
}

.dropdown-menu a {
  padding: 12px 16px;
  text-decoration: none;
  color: black;
  display: block;
  border-bottom: 1px solid black;
  justify-content: center;
}

.dropdown-menu a:hover {
  background-color: #0f4392;
  color: white;
}
/* Header */

/* Hero */
.hero {
  position: relative;
  display: inline-block;
  background-color: rgb(0, 0, 0);
  height: 700px;
  width: 100%;
  border-bottom: black;
  border-bottom-style: solid;
  border-bottom-width: 0px;
  justify-content: center;
  align-items: center;
  z-index: 1; 
}

.hero-image {
  width: 100%;
  height: 100%;
  opacity: 55%;
}

.hero-text {
  text-align: center;
  justify-content: center;
  font-size: 35px;
  width: 80%;
  height: 150px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  position: absolute;
  right: 10%;
  top: 5%;
  word-spacing: -5px;
}

.hero-main-text {
  text-align: center;
  justify-content: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 500px;
  line-height: 50px;
  width: 80%;
  height: 150px;
  margin-left: 15%;
  position: absolute;
  right: 10%;
  bottom: 20%;
  top: 25%;
  padding-bottom: 40px;
}

.consultation-button {
  text-align: center;
  justify-content: center;
  width: 20%;
  height: 60px;
  position: absolute;
  top: 75%;
  border: 3px solid black;
  color: white;
  margin-left: 40%;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  word-spacing: 5px;
  font-weight: 500px;
  border-color: rgba(195, 195, 195, 0.9);
}

.consultation-button:hover {
  cursor: pointer;
  background-color: rgba(195, 195, 195, 0.2);
}

/*Hero*/

/*services*/
.services {
  height: 780px;
  display: flex;
  flex-direction: column;
}

.button-container1 {
  display: flex;
  height: 50%;
  align-items: center;
}

.button1 {
  display: flex;
  height: 100px;
  width: 400px;
  margin-left: 100px;
  align-items: center;
  background-color: #0f4392;
  color:white;
  padding-left: 70px;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 500px;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
}

.button1:hover {
  transition-duration: 0.2s;
  filter: brightness(90%);
}

.button1:active {
  transition-duration: 0.2s;
  transform: scale(0.95);
}

.button-container2 {
  display: flex;
  height: 50%;
  align-items: center;
}

.button2 {
  display: flex;
  height: 100px;
  width: 400px;
  margin-left: 100px;
  align-items: center;
  background-color: #ff4949;
  color: white;
  padding-left: 70px;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 500px;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
}

.button2:hover {
  transition-duration: 0.2s;
  filter: brightness(90%);
}

.button2:active {
  transition-duration: 0.2s;
  transform: scale(0.95);
}

.button-text-container1 {
  margin-left: 150px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 30px;
  width: 700px;
  border-bottom: 3px solid black;
  padding-bottom: 400px;
}

.button-text {
  position: absolute;
  top: 115%
}

.button-text-container2 {
  margin-left: 150px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 30px;
  width: 850px;
  padding-left: 5px;
  margin-top: 0px;
}
/*services*/

/*about us*/
.about {
  display: flex;
  flex-direction: column;
  height: 780px;
  justify-content: center;
  align-items: center;
  border-top: 3px solid black;
  width: 80%;
  margin-left: 10%;
  padding-top: 0px;
}

.top {
  display: flex;
  color: black;
  padding-top: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  line-height: 50px;
  width: 100%;
  height: 150px;
  text-align: center;
  justify-content: center;
  align-content: center;
  font-weight: bolder;
  word-spacing: -5px;
  margin-top: 0px;
}

.why {
  display: flex;
  height: 80px;
  width: 50%;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  margin-top: 80px;
}

.section-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.s1, .s2, .s3 {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 170px;
  margin: 30px;
  align-items: center;
  text-align: center;
  line-height: 25px;
  letter-spacing: 2px;
  padding: 0px;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
}

.s2 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-left: 40px;
  padding-right: 40px;
}

.about-us-headers {
  position: absolute;
  top: 246%;
  font-size: large;
}

.learn-more {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 130%;
  height: 40px;
  border: 2px solid black;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 500px;
  margin-left:-15px;
}

.learn-more:hover {
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.4);
}
/*about us*/

/*Contact us*/
.footer {
  display: flex;
  flex-direction: column;
  background-color: #444444;
  height: 185px;
  width: 100%;
  align-items: center;
  margin-top: 0px;
}

.footer-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 100px;
}

.footer p {
  margin-bottom: 8px;
}

.legal {
  display: flex;
  justify-content: center;
  position: absolute;
  color: black;
  border-top: #FAEEEA;
  border-style: solid;
  border-width: 2px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 90%;
  top: 312.3%;
  padding-top: 9px;
  font-family: "Roboto", sans-serif;
  font-size: smaller;
}

.zero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  height: 145px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #FAEEEA;
}

.one, .two, .three {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  height: 145px;
  width: 100%;
  letter-spacing: 0.5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.link {
  cursor: pointer;
  transition: color 0.3s ease;
}

.link:hover {
  color: #c3c3c3;
}

.footer-instagram, .footer-facebook, .footer-twitter, .footer-linkedin {
  height: 45px;
  width: 45px;
  margin-top: 20px;
  padding: 10px;
  padding-top: 0px;
}

.footer-instagram:hover {
  content: url(/Images/instagram-lightgrey.png);
}

.footer-facebook:hover {
  content: url(/Images/facebook-lightgrey.png);
}

.footer-twitter:hover {
  content: url(/Images/twitter-lightgrey.png);
}

.footer-linkedin:hover {
  content: url(/Images/linkedin-lightgrey.png);
}